@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://c.wallhere.com/photos/25/ca/Adventure_Time_simple_background_blue_humanized-116892.png!s1);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #63bda4;
}

.main-container {
    width: 70vw;
    margin: 20px auto;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.button-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    justify-content: center;
}

.reset-button {
    width: 98%;
}

.gap-button {
    width: 45%;
    text-align: center;
}

.row-button {
    width: 45%;
}

.column-button {
    width: 45%;
}

.start-button {
    width: 45%;
}

.center-button {
    width: 45%;
}

.end-button {
    width: 45%;
}

.space-between-button {
    width: 45%;
}

.space-around-button {
    width: 45%;
}

.space-evenly-button {
    width: 45%;
}

.align-start-button {
    width: 45%;
}

.align-center-button {
    width: 45%;
}

.align-end-button {
    width: 45%;
}

.fg-reset-button {
    width: 45%;
}

.grow-all-button {
    width: 49%;
}

.box1-button {
    width: 45%;
}

.box2-button {
    width: 45%;
}

.box3-button {
    width: 45%;
}

.number-input {
    width: 49%;
    text-align: center;
    padding: 3%;
}

h1 {
    width: 100%;
    align-items: start;
    color: white;
    width: fit-content;
    block-size: fit-content;
    border-radius: 5px;
    font-family: "Press Start 2P", system-ui;
    margin: 10px auto;
    padding-top: 20px;
    text-align: center;
}

h2 {
    width: 100%;
    align-items: start;
    color: white;
    width: fit-content;
    block-size: fit-content;
    border-radius: 5px;
    font-family: "Press Start 2P", system-ui;
    margin: 7.5px auto;
}

button {
    padding: 15px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 6px #ffdddd;
    font-weight: bolder;
    font-size: large;
}

#button-purple {
    background-color: rgb(235, 217, 61);
}

#button-purple:active {
    box-shadow: 0 4px #b9b3b3;
    transform: translateY(4px);
}

#button-red {
    background-color: rgb(235, 19, 19);
    margin-right: 10.5px;
}

#button-red:active {
    box-shadow: 0 4px #b9b3b3;
    transform: translateY(4px);
}

#button-purple:hover {
    background-color: rgb(185, 155, 17);
}

#button-red:hover {
    background-color: rgb(112, 11, 11);
}

.firstcolumn {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 20px;
}

.secondcolumn {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 20px;
}

.thirdcolumn {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 20px;
}

#flex-box-simulation-border {
    height: 500px;
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/4;
    grid-row: 1/2;
    background-image: url(https://img2.storyblok.com/960x540/f/149639/1920x1080/193a26e676/pm-pellets-bg-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#flexbox1 {
    background-color: rgb(230, 230, 182);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: 1s all ease;
    background-image: url(pacman-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

#flexbox2 {
    background-color: rgb(28, 8, 141);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transition: 1s all ease;
    background-image: url(blueghost.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
}

#flexbox3 {
    background-color: lightcoral;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transition: 1s all ease;
    background-image: url(redghost-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: black;

}

.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    align-content: start;
    font-family: "Press Start 2P", system-ui;
}
