* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-image: url("https://i.pinimg.com/originals/f6/a1/8a/f6a18ac56651ce4f9ca7e0230706a0b6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 80wv;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.gridLogo {
    border-radius: 10px;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    border: solid;
}

img {
    width: 270px;
    height: 270px;
    margin: 0px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#Bulba {
    background-color: #7AC74C;
}

#Bulba:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Char {
    background-color: #EE8130;
}

#Char:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Squirt {
    background-color: #6390F0;
}

#Squirt:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Abra {
    background-color: #F95587;
}

#Abra:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Drat {
    background-color: #6F35FC;
}

#Drat:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Evee {
    background-color: #A8A77A;
}

#Evee:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Jigg {
    background-color: #D685AD;
}

#Jigg:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Pid {
    background-color: #A98FF3;
}

#Pid:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Pika {
    background-color: #F7D02C;
}

#Pika:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Psy {
    background-color: #6390F0;
}

#Psy:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Snor {
    background-color: #A8A77A;
}

#Snor:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

#Mew {
    background-color: #F95587;
}

#Mew:hover {
    background-position: center;
    background-image: url("https://img.freepik.com/premium-vector/burst-pink-cartoon-comic-background_530597-199.jpg");
    transition-duration: .5s;
}

p {
    display: none;
    align-self: center;
    text-align: center;
    margin: 0px auto;
    font-weight: bold;
    color: white;
    filter: drop-shadow(3px 3px 3px black);
    flex-grow: 0.5;
}

.ball {
    display: none;
    width: 60px;
    height: 60px;
}

.bulba {
    display: none;
}

@media(max-width: 948px) {
    .container {
        flex-direction: column;
    }

    .gridLogo {
        display: flex;
        flex-wrap: wrap;
        width: 70vw;
        height: 100px;
        transition: 1s;
        justify-content: space-around;
        align-items: center;

    }

    img {
        display: flexbox;
        height: 60px;
        width: 60px;
        margin-left: 20px;
    }

    p {
        display: inline;
    }

    .ball {
        display: inline;
        margin-right: 20px;
    }

}

@media(max-width: 500px) {
    .gridLogo {
        display: flexbox;
        width: 300px;
        height: 300px;
        transition: 1s;
        position: relative;
    }

    p {
        margin-top: 87%;
    }

    img {
        width: 240px;
        height: 240px;
        margin: 7px;
        position: absolute;
        top: 10px;
        left: 20px;
    }

    .ball {
        display: none;
    }

}
